# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# builds
dist/
web-build/

# environment variables
.env
.env.local
.env.*

# debug logs
npm-debug.*
yarn-debug.log*
yarn-error.log*

# certificates / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# misc
*.orig.*

# native folders (if using managed workflow these shouldn't be committed)
ios/
android/

# release signing (do not commit keystore or passwords)
android/app/release.keystore
android/gradle.properties

# macOS
.DS_Store

# Metro temp files
.metro-health-check*

# IDE
.vscode/
.idea/